deepeval==2.1.9
evaluation==0.0.2
faiss-cpu==1.8.0.post1
firecrawl-py==1.10.1
ipykernel==6.29.5
llama-index==0.12.12
llama-index-embeddings-ollama==0.5.0
llama-index-llms-ollama==0.5.0
llama-index-readers-web==0.3.4
llama-index-vector-stores-faiss==0.3.0